src/main/resources/convertir.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="t4is.uv.mx/inventario"
    xmlns:tns="t4is.uv.mx/inventario" elementFormDefault="qualified">

    <xs:element name="RecuperarFacturaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UUID" type="xs:string" />
                <xs:element name="OrdenDeCompra" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RecuperarFacturaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Factura">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Numero" type="xs:string" />
                            <xs:element name="Fecha" type="xs:string" />
                            <xs:element name="Total" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ConsultarFolioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Folio" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ConsultarFolioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Producto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre" type="xs:string" />
                            <xs:element name="Dependencia" type="xs:string" />
                            <xs:element name="PrecioUnitario" type="xs:double" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GenerarFolioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UUID" type="xs:string" />
                <xs:element name="OrdenDeCompra" type="xs:string" />
                <xs:element name="Dependencia" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GenerarFolioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Folios" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Folio" type="xs:string" />
                            <xs:element name="Item" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



</xs:schema>