src/main/resources/factura.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="t4is.uv.mx/factura"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="t4is.uv.mx/factura">

    <types>
        <xsd:schema targetNamespace="t4is.uv.mx/factura">
            <xsd:element name="CrearFacturaRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Receptor" type="tns:ReceptorType"/>
                        <xsd:element name="Emisor" type="tns:EmisorType"/>
                        <xsd:element name="Productos" type="tns:ProductoType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="ReceptorType">
                <xsd:sequence>
                    <xsd:element name="RFC" type="xsd:string"/>
                    <xsd:element name="Nombre" type="xsd:string"/>
                    <xsd:element name="RegimenFiscal" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="EmisorType">
                <xsd:sequence>
                    <xsd:element name="RFC" type="xsd:string"/>
                    <xsd:element name="Nombre" type="xsd:string"/>
                    <xsd:element name="RegimenFiscal" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ProductoType">
                <xsd:sequence>
                    <xsd:element name="Producto" type="tns:DetalleProductoType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="DetalleProductoType">
                <xsd:sequence>
                    <xsd:element name="Nombre" type="xsd:string"/>
                    <xsd:element name="Cantidad" type="xsd:int"/>
                    <xsd:element name="PrecioUnitario" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="CrearFacturaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Mensaje" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ConsultarFacturaRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="NumFactura" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ConsultarFacturaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Productos" type="tns:DetalleProductoType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="CrearFacturaRequestMessage">
        <part name="CrearFacturaRequest" element="tns:CrearFacturaRequest"/>
    </message>

    <message name="CrearFacturaResponseMessage">
        <part name="CrearFacturaResponse" element="tns:CrearFacturaResponse"/>
    </message>

    <message name="ConsultarFacturaRequestMessage">
        <part name="ConsultarFacturaRequest" element="tns:ConsultarFacturaRequest"/>
    </message>

    <message name="ConsultarFacturaResponseMessage">
        <part name="ConsultarFacturaResponse" element="tns:ConsultarFacturaResponse"/>
    </message>

    <portType name="FacturaPortType">
        <operation name="crearFactura">
            <input message="tns:CrearFacturaRequestMessage"/>
            <output message="tns:CrearFacturaResponseMessage"/>
        </operation>
        <operation name="consultarFactura">
            <input message="tns:ConsultarFacturaRequestMessage"/>
            <output message="tns:ConsultarFacturaResponseMessage"/>
        </operation>
    </portType>

    <binding name="FacturaBinding" type="tns:FacturaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="crearFactura">
            <soap:operation soapAction="crearFactura"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultarFactura">
            <soap:operation soapAction="consultarFactura"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="FacturaService">
        <port name="FacturaPort" binding="tns:FacturaBinding">
            <soap:address location="https://serviciofactura-production.up.railway.app/ws"/>
        </port>
    </service>

</definitions>
